/* Google Font Link */
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sidebar-manage-branch-manager {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;

}

.sidebar-manage-branch-manager.open {
  width: 270px;
}

.sidebar-manage-branch-manager .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar-manage-branch-manager .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar-manage-branch-manager.open .logo-details .icon,
.sidebar-manage-branch-manager.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar-manage-branch-manager .logo-details #btn-local-admin {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar-manage-branch-manager.open .logo-details #btn-local-admin {
  text-align: right;
}

.sidebar-manage-branch-manager i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar-manage-branch-manager .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar-manage-branch-manager li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar-manage-branch-manager li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar-manage-branch-manager li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar-manage-branch-manager.open li .tooltip {
  display: none;
}

.sidebar-manage-branch-manager input {
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}

.sidebar-manage-branch-manager.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar-manage-branch-manager li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}

.sidebar-manage-branch-manager li a:hover {
  background: #FFF;
}

.sidebar-manage-branch-manager li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar-manage-branch-manager.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar-manage-branch-manager li a:hover .links_name,
.sidebar-manage-branch-manager li a:hover i {
  transition: all 0.5s ease;
  color: #11101D;
}

.sidebar-manage-branch-manager li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar-manage-branch-manager li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}

.sidebar-manage-branch-manager.open li.profile {
  width: 270px;
}

.sidebar-manage-branch-manager li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar-manage-branch-manager li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.sidebar-manage-branch-manager li.profile .name,
.sidebar-manage-branch-manager li.profile .role {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}

.sidebar-manage-branch-manager li.profile .role {
  font-size: 12px;
}

.sidebar-manage-branch-manager .profile #log_out_bm {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}

.sidebar-manage-branch-manager.open .profile #log_out_bm {
  width: 50px;
  background: none;
}

.main-content {
  margin-left: 0;
  transition: margin-left 0.5s ease;
}

.sidebar-manage-branch-manager.active~.main-content {
  margin-left: 270px;
}


.home-section {
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.sidebar-manage-branch-manager.open~.home-section {
  left: 270px;
  width: calc(100% - 270px);
}

.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}

@media (max-width: 420px) {
  .sidebar-manage-branch-manager li .tooltip {
    display: none;
  }
}

.custom-button {
  background-color: #433f74;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.custom-button span {
  margin-right: 5px;
}


$font-primary: 'Poppins', Arial, sans-serif;
$primary: #3b375d;
$black: #000000;
$white: #ffffff;


.container {
  font-family: $font-primary;
  font-size: 16px;
  line-height: 1.8;
  font-weight: normal;
  background: #f8f9fd;
  color: lighten($black, 50%);
  margin: 0 30px 0px 70px;
}

.content-heading-sec1 {
  justify-content: left;

}

.content-heading-sec2 {
  text-align: left;
  margin-bottom: 5px;
  padding-left: 1em;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  font-weight: 400;
  font-family: $font-primary;
  color: $black;
}

.bg-primary {
  background: $primary !important;
}

.ftco-section {
  padding: 2em 0;
}

.ftco-no-pt {
  padding-top: 0;
}

.ftco-no-pb {
  padding-bottom: 0;
}

.heading-section {
  font-size: 28px;
  color: $black;
}