<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="sidebar-local-admin.component.scss">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="sidebar-manage-local-admin">
    <div class="logo-details">
      <i class='bx bx-menu' id="btn-local-admin" (click)="toggleSidebar()"></i>
    </div>
    <ul class="nav-list">

      <li>
        <a routerLink="/local-admin">
          <i class='bx bx-home'></i>
          <span class="links_name">Home</span>
        </a>
        <span class="tooltip">Home</span>
      </li>


      <li>
        <a routerLink="/local-admin/manage-branches">
          <i class='bx bx-store-alt'></i>
          <span class="links_name">Manage Branches</span>
        </a>
        <span class="tooltip">Manage Branches</span>
      </li>



      <li>
        <a routerLink="/local-admin/manage-branch-managers">
          <i class='bx bx-user'></i>
          <span class="links_name">Manage Branch Managers</span>
        </a>
        <span class="tooltip">Manage Branch Managers</span>
      </li>

      <li>
        <a routerLink="/local-admin/manage-technical-staffs">
          <i class='bx bx-user'></i>
          <span class="links_name">Manage Technical Staffs</span>
        </a>
        <span class="tooltip">Manage Technical Staffs</span>
      </li>



      <li class="profile">
        <div class="profile-details">
          <div class="name_job">
            <div class="name">{{name}} {{surname}}</div>
            <div class="role">Local Admin</div>
          </div>
        </div>
        <i class='bx bx-log-out' id="log_out_la" (click)="logout()"></i>
      </li>
    </ul>
  </div>



</body>

</html>