<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="technical-staff-training.component.scss">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>



  <section class="home-section">


    <div class="container">
      <section class="ftco-section">

        <div class="content-heading-sec1">
          <div class="content-heading-sec2">
            <div class="main-heading ">Add Item</div>
          </div>
        </div>

        <div class="form-area">
          <form (ngSubmit)="addItem()">
            <div>
              <div class="titles">
                <label for="name">Enter Item's Name:</label>
              </div>
              <input type="text" id="name" [(ngModel)]="item.itemName" name="name">
            </div>

            <div>
              <div class="titles">
                <label for="amount">Enter Item's Amount:</label>
              </div>
              <input type="text" id="amount" [(ngModel)]="item.itemTotalAmount" name="text">
            </div>


            <div class="select-wrapper">
              <div class="titles">
                <label for="product">Select Product:</label>
              </div>
              <select id="product" [(ngModel)]="selectedProductID" name="product">
                <option value="" disabled selected>Select Product</option>

                <option *ngFor="let product of products | async" [value]="product.productId">{{ product.productName}}
                </option>

              </select>
              <span class="dropdown-arrow"></span>
            </div>


            <div>
              <div class="titles">
                <label for="file">Upload File:</label>
              </div>
              <div class="file-input-container">
                <input type="file" id="fileInput" accept="application/zip" (change)="onFileSelected($event)">
                <label for="fileInput" class="file-input-label">
                  <div class="file-input-box">
                    <i class="fa fa-cloud-upload"></i>
                    <span>Choose a file</span>
                  </div>
                </label>
              </div>
            </div>




            <div class="button-container">
              <button class="custom-button" type="submit">Save</button>
            </div>
          </form>


        </div>


        <div class="alert-container">
          <div *ngFor="let errorMessage of errorMessages" class="alert alert-danger alert-dismissible fade show"
            role="alert">
            {{ errorMessage }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
              (click)="removeErrorMessage(errorMessage)"></button>
          </div>

          <div *ngFor="let message of messages" class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
              (click)="removeMessage(message)"></button>
          </div>
        </div>


      </section>
    </div>

    <app-sidebar-technical-staff></app-sidebar-technical-staff>
  </section>



</body>

</html>