<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="sidebar-product-owner.component.scss">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="sidebar-manage-product-owner">
    <div class="logo-details">
      <i class='bx bx-menu' id="btn-product-owner" (click)="toggleSidebar()"></i>
    </div>
    <ul class="nav-list">

      <li>
        <a routerLink="/product-owner">
          <i class='bx bx-home'></i>
          <span class="links_name">Home</span>
        </a>
        <span class="tooltip">Home</span>
      </li>


      <li>
        <a routerLink="/product-owner/dashboard">
          <i class='bx bx-bar-chart'></i>
          <span class="links_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
      <li>
        <a routerLink="/product-owner/item-statistics">
          <i class='bx bx-basket'></i>
          <span class="links_name">Item Statistics</span>
        </a>
        <span class="tooltip">Item Statistics</span>
      </li>


      <li>
        <a routerLink="/product-owner/branch-statistics">
          <i class='bx bx-store-alt'></i>
          <span class="links_name">Branch Statistics</span>
        </a>
        <span class="tooltip">Branch Statistics</span>
      </li>



      <li class="profile">
        <div class="profile-details">

          <div class="name_job">
            <div class="name">{{name}} {{surname}}</div>
            <div class="role">Product Owner</div>
          </div>
        </div>
        <i class='bx bx-log-out' id="log_out_po" (click)="logout()"></i>
      </li>
    </ul>
  </div>






</body>

</html>